{%load static %}
<!DOCTYPE>
<html>
  <head>
   
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<!-- static nebar link-->
{%load static %}
<!--<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/base.css'%}"> -->

<!--main.js for js folder-->
<!-- <script type="text/javascript" src="{% static 'js/main.js' %}"></script> -->

<!-- Fontawesome Links icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    
<!--Fontawesome link for text-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&display=swap" rel="stylesheet">

<!--Autocomplete link-->
<link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>


<!-- jQuery for auto search last -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- jQuery UI for auto search last-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

 <title>House </title>

</head>
<body>
    <div class="container">
        <div class="row">         
            <div class="col-sm-4 shadow">
             <h1>House Image</h1>

            
            </div>    
            <div class="col-sm-8 shadow">       
              <h1>Person Details</h1>
              <table class="table table-hover">           
                <tbody>
                  <tr>
                    <td>Person Name Id:</td>
                    <td>{{persons.id}}</td>            
                  </tr>
                  <tr>
                    <td>Person Name:</td>
                    <td>{{persons.name}}</td>            
                  </tr>
        
        
                  <tr>
                    <td>Person Mobile:</td>
                    <td>{{persons.mobile}}</td>            
                  </tr>

                  <tr>
                    <td>Person Interest areas:</td>
                    <td>{{personinterests}}
                    </td>
                    <td>{{personinterests.id}}</td>
                    <td>{{num}}</td>

                  </tr>
                  <tr>
                    <td>interests areas</td>
                    <td>{{x.name}}</td>
                  </tr>

                  <tr>
                    <td>person area</td>
                    <td>{{address}}</td>
                  </tr>
                  <tr>
                    <td>stress area name</td>
                    <td>{{persons.street_address}}</td>
                  </tr>
                  
                  

                </tbody>
            </table>
            
          </div>                    
      </div>

      <!--<div>
        {%if x%}
        
        {{x.id}}
        
        {%endif%}
      </div>-->
      <!--all list of person-->

<!--all list of doctor-->  
<section>
  <h2>Person models Details</h2>
 <div class="content">
  {% if allpersons %}
  
  <table class="table table-bordered table-striped ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">phone</th>
          <th scope="col">interest</th>
          <th scope="col">interest</th>
          <th scope="col">interest</th>
          <th scope="col">interest</th>
          
        </tr>
      </thead>
      <tbody>  
    {%for all in allpersons %}    
      <tr>

        <td scope="row">{{all.pk}}</td>
        <th >{{all.name}}</th>
        <td>{{all.mobile}}</td>
        {% for inter in all.interests.all %}    <!--great work-->
        <td>{{inter}}</td>
        {% endfor %}
        
   
        
      </tr>
    {%endfor%}  
    
      </tbody>
      </table>
      
    {%endif%}
      <!--end-->
</div> 
</section>     
<!--end list person-->

<!--doctor address,city-->  
<section>
  <h2>Address Details</h2>
 <div class="content">
{%if a%}
<p>{{a.person}}</p>
<p>{{a.city}}</p>
<p>{{a.street_address}}</p>
<p>{{a.person.mobile}}</p>
{%endif%}
  

</div> 
</section>     
<!--end list person-->    

<!--all person name-->
<div>
{%if kk%} 

Last person name:  {{kk}}
{{kk.pk}}

{%endif%}
</div>
<!--end-->

<!--allpersons-->
<div>                             <!--great work-->
  {% if allpersons %}
  {% for abcd in allpersons%}
 <p>Name: {{abcd}} Number : {{abcd.pk}}</p> 
  {%endfor%}
  {%endif%}
</div>
<!--inerest
<div>
  {% if cityofall %}
  {% for efg in cityofall%}
  <p>{{efg.city}}</p>
  {%endfor%}
  {%endif%}
</div>-->

</body>
</html>    